<h2>Let's work together.</h2>

<p>As a recent <a href="http://devbootcamp.com/">Dev Bootcamp</a> graduate, I am currently looking for full-time opportunities as a full-stack junior web developer.</p>

<p>If you know of or represent a company that is passionate about creativity, empathy, hard work, and making the tech industry a more diverse, inclusive environment, let's get in touch.</p>

<p>You can view <%= link_to "my resume here", asset_path("dj_dewitt_resume.pdf") %>, and, for a more in-depth look at my credentials, please check out my <a href="https://linkedin.com/in/djdewitt">LinkedIn</a>.</p>

<h4>How To Reach Me</h4>

<p>Get in touch with me via <a href="https://twitter.com/djdewitt">Twitter</a>, <a href="https://linkedin.com/in/djdewitt">LinkedIn</a>, or <a href="mailto:djdewitt@gmail.com">email</a>. If you're in the Chicagoland area, let's grab a coffee.</p>

<p>If you have an idea for an interesting project, freelance job, or work opportunity, check out my <a href="mailto:djdewitt@gmail.com?subject=Pitch:%20Your%20Pitch%20Subject%20Here">pitch page</a>.</p>

<h4>My Background</h4>
<p>After graduating from Northwestern University with a dual major in English Literature and International Studies, I worked as Content Services Specialist for <a href="http://www.tempestamedia.com/">Tempesta Media</a>, an alumni of Chicago's 1871 incubator program, interfacing daily with SMBs to address their content marketing gaps, and helping our community of over 9000+ writers make a living wage doing what they love.</p>

<p>Being the first hire in our Chicago office, I directly influenced the growth of our platforms, shaping them to provide sustainable solutions for both SMBs and writers facing the challenges of success in the digital era. This experience taught me that, with web development skills, I could make more meaningful contributions to projects that actually make a difference.</p>

<p>In September 2014, I began <a href="http://devbootcamp.com/learn/">Dev Bootcamp’s 19-week intensive training program</a> for aspiring web developers, specializing in Ruby, Rails, HTML5, CSS, Test Driven Development, Object-Oriented Javascript (AJAX, JQuery), Git and Source Control, Heroku, and Agile Development.</p>

<p>The program culminates with an 8-day final project, where we pitch, design, and develop an application over the course of a week. I lead a team of four that built Horizon, a web app that provides an interactive visualization of your Twitter account, illuminating your exposure to a variety of issues and giving you personalized recommendations to fill the gaps.</p>

<h4>About This Site</h4>

<p>This site was developed by me, but it would not exist without Ruby on Rails, Heroku, and a variety of amazing gems from the kind, supportive Ruby development community. You can view the <a href="https://github.com/DJDeWitt">public repo on GitHub here.</a> This site is responsive thanks to Semantic.UI</p>

<p>For more about the development of this blog and some of my - more <em>interesting</em> design decisions - click here.</p>