<h1 style="color: #3333CC;">Manifesto</h1>

<p>The following is an emergent document that attempts to define major goals I have for my work. I hope this provides context for what I write I about and how I approach those topics. If you have any feedback on this document or my posts, contact me and let’s have a conversation about it.</p>

<h2>1. Improve Creative Literacy.</h2>

<p>I’ll talk more about creative literacy in a future post, but here’s my current working definition: creative literacy is understanding how things are made, and that the world is composed of made things.</p>

<p>You can think of it as an extension of critical literacy, a practice in which “knowledge emerges only through invention and re-invention, through the restless, impatient, continuing, hopeful inquiry human beings pursue in the world, with the world and with each other.” This comes from Paulo Frieri’s 1970 text Pedagogy of the Oppressed, a foundation of critical pedagogy, which is concerned with dismantling existing power structures and empowering individuals through an understanding of how knowledge is mediated by gatekeepers.</p>

<p>Essentially, if you’ve ever felt like “learning” is an endless cycle of memorization and regurgitated facts, this is the educational philosophy for you!</p>

<p>Creative literacy is an important extension of critical literacy because it allows critical learners to access not just the text itself, but the process (influencers, accidents, ) that led to the finished work. It theorizes that, say, a critique of a Hollywood film would be more empathetic – more complete – if the critic understood how Hollywood films are made, what restrictions the creators grappled with, what the creative climate was like at the film’s inception, etc.</p>

<p>In short, creative literacy is important because it empowers learners to become craftspeople. Understanding that things are made, and how things are made, gives you greater authorship over your world.</p>

<p style="text-align: center;"><i class="circle icon"></i><i class="circle icon"></i><i class="circle icon"></i></p>

<p>There are lots of great resources out there for improving creative literacy, but here are a few to get you started: Roman Mars’ weekly design podcast <a href="http://99percentinvisible.org/">99% Invisible</a>, Kirby Ferguson’s four-part video series <a href="http://everythingisaremix.info/watch-the-series/">Everything Is A Remix</a>, and James Gleick’s 2011 book <a href="http://around.com/the-information/">The Information</a>.</p>

<p>For medium-specific resources, I recommend Hrishikesh Hirway’s music deconstruction podcast <a href="http://songexploder.net/">Song Exploder</a>, Art of the Title’s <a href="http://www.artofthetitle.com/">blog and video series</a>, Tony Zhou’s <a href="http://everyframeapainting.tumblr.com/">Every Frame a Painting</a>, and the Game Developer’s Conference <a href="http://www.gdcvault.com/">Video/Audio/Slide Vault</a>.</p>

<p>Of course, the best way to improve creative literacy is to practice your creativity. Learn how to make something, find a community that can provide you feedback and mentorship, and put yourself out there and into something others can experience.</p>

<h2>2. Treat every subject with empathy.</h2>

<p>Being empathetic doesn’t mean being nice. I can be harsh, but I hope never undeservedly so, and I will always try to (a) acknowledge the emotional truth of my subject (“Why does a GamerGate supporter believe their cause is about journalism ethics, even if it is undeniably a harassment campaign?”) and (b) work towards a clear goal, even if the result is less answers and more focused questions.</p>

<p>The scary thing about making stuff is that to do so you must share yourself, an act that exposes things intended (ideas, experiences, conclusions) and unintended (biases, weaknesses, ignorance). If you feel that my writing or my ideas lack empathy, call me out on it (as empathetically as possible).</p>

<h2>3. Make meaningful connections between diverse subjects.</h2>

<p>Creative works are complex, and in critiquing them, we use them as lenses through which to see, understand, and reveal something interesting about the world. I would like to look at a lens through a lens, and see what else we can see with new context.</p>

<p>I’m interested in developing perspectives that reconfigure knowledge and connect works and ideas that don’t conventionally belong together. That said, I’ll try not to go overboard connecting dots; broadness without depth paints a pretty picture with little beneath the surface.</p>

<br>

<p>I won’t always hit these marks, and I would greatly appreciate it if you let me know when I fail to do so. That being said, this is a living document, and I’m hoping to refine it as the dialogue between the things I make and their consumers goes on.</p>

<p>Now, <a href="/posts">go read some stuff!</a></p>
