<p id="notice"><%= notice %></p>
<div class="row clearfix">
  <div class="col-md-12 column" style="background-color: #eee;">
    <div class="container">
<h1 style="color: #3333CC;"><strong style="font-family: 'Roboto Slab', serif;">My Games</strong></h1>
<h2>Below you'll find a portfolio of my lovingly crafted video games. Using <a href="https://www.yoyogames.com/studio">GameMaker: Studio</a>, I make personal games for computers, tablets, and smartphones. If you're interested in my work, <a href="/contact">please reach out!</a></h2>
    </div>
  </div>
</div>
<div class="row clearfix text-center"  style="margin-bottom: 16px;">
  <div class="container">
    <% @games.each do |game| %>
      <%= render 'games/card_game', :post => game %>
    <% end %>
  </div>
</div>
<br>
<%= will_paginate @games %>
<br>
