<p id="notice"><%= notice %></p>
<div class="row clearfix">
  <div class="col-md-12 column" style="background-color: #eee;">
    <div class="container">
      <h1 style="color: #3333CC;"><strong style="font-family: 'Roboto Slab', serif;">My Projects</strong></h1>
      <h2>Below you'll find a portfolio of my web development projects. I'm interested in building tools that are interesting, entertaining, edifying, and genuinely helpful. If you have an idea for a project or something here strikes your fancy, <a href="/contact">please reach out!</a></h2>
    </div>
  </div>
</div>
<div class="row clearfix text-center">
  <div class="container">
    <% @projects.each do |project| %>
      <%= render 'projects/card_project', :post => project %>
    <% end %>
  </div>
</div>
<br>
<%= will_paginate @projects %>
<br>
