<p id="notice"><%= notice %></p>
<div class="row clearfix">
  <div class="col-md-12 column" style="background-color: #eee;">
    <div class="container">
      <h1 style="color: #3333CC;"><strong style="font-family: 'Roboto Slab', serif;">The Blog</strong></h1>
      <h2>I write about technology, media, and culture. I'm interested in exposing ignorance, finding nuance, and better understanding our crafted world. You can find a more detailed look at my mission in the <a href="/manifesto">obligatory manifesto</a>.</h2>
    </div>
  </div>
</div>
<br>
<div class="row clearfix text-center">
  <div class="container">
    <% @posts.each do |post| %>
      <%= render 'posts/card_post', :post => post %>
    <% end %>
  </div>
</div>
<br>
<%= will_paginate @posts %>
<br>