/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.white-box {
  box-shadow: 0px 1px 1px black;
  border-radius: 2px;

  padding: 10px 20px;

  background-color: white;
  margin: 10px;
}

.ui.purple {
    background-color: #3333CC;
}

.my-purple:hover {
  background-color: green;
  color: red;
}

.item a:hover {
  background-color: green;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  background-color: White;
  height: 100%;
  overflow: scroll;
  /*background-image: url("chicago_skyline.JPG");*/
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-weight: bold;
  color: #3333CC;
  text-decoration: none;
}

a:hover {
  background-color: #3333CC;
  color: white;
}

.search-field {
  border: 0px;
  border-radius: 20px;
  font-size: 1.25em;
  padding: 2px;
}

.search-field-button {
  color: #3333CC;
  background-color: white;
  border: 0px;
  border-radius: 20px;
}

.search-field-button:hover {
  color: white;
  background-color: #262699;
}

#newsletter-subscribe-button {
  background-color: #3333CC;
  color: white;
  font-size: 1.5em;
  border: 0px;
  border-radius: 5px;
}
#newsletter-subscribe-button:hover {
  background-color: #262699;
  color: white;
}

blockquote {
  border-left: 6px solid #3333CC;
  padding-left: 4px;
  color: #333;
  background-color: GhostWhite;
  font-size: 1.25em;
}

.pullquote-float-right {
  display: block;
  float: right;
  font-weight: bold;
  font-style: italic;
  color: #3333CC;
  font-size: 2em;
  text-align:center;
  width: 50%;
}

.pullquote-float-left {
  display: block;
  float: left;
  font-weight: bold;
  font-style: italic;
  color: #3333CC;
  font-size: 2em;
  text-align:center;
  width: 50%;
}

ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ol > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    border-top:2px solid #3333CC;
    background: GhostWhite;
}
ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    border-top:2px solid #3333CC;
    color:#fff;
    background:#3333CC;
    font-weight:bold;
    font-size: 1.5em;
    text-align:center;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}


.container {
  width: 90%;
  padding: 40px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}

.left-sidebar {
  display: inline-block;
  float: left;
  /*width: 15em;*/
  width: 300px;

  box-shadow: 0px 1px 1px black;
  border-radius: 2px;

  padding: 10px 20px;
  margin: 0px;

  background-color: white;
}

.main-column {
  display: inline-block;
  float: right;
  /*width: 55em;*/
  width: 60%;

  box-shadow: 0px 1px 1px black;
  border-radius: 2px;

  padding: 10px 20px;
  margin-left: 20px;

  background-color: white;
}

/* HEADER CSS */

#header {
  background-color: #3333CC;
  box-shadow: 0px 2px 2px black;
  margin: 0px;
  padding: 0px;
  height: 50px;
  display: inline-block;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

#header ul{
  margin: 0px;
  list-style-type: none;

  /*border: 1px solid black;*/
}

#header ul li #home-page-link{
  display: inline-block;
  margin-left: 2%;

  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
}

#header-left {
  /*border: 1px solid black;*/
}

/* HEADER - Logo */

#home-page-link a{
  font-family: sans-serif;
  text-decoration: none;
  font-size: 64px;
  font-weight: bold;
  color: white;
  display: inline-block;
  float: left;

  /*border: 1px solid black;*/

  text-align: center;
  vertical-align: middle;
  position: 50%;
  top: 50%;

  padding: 0px;
  border: 1px solid #3333CC;
  border-radius: 5px;
}

#home-page-link a:hover{
  background-color: #262699;
  border: 1px solid #262699;
  border-radius: 5px;
}

#nav-link a{
  height: 50px;
  padding: 4px;
  border: 1px solid #3333CC;
  border-radius: 5px;
}
#nav-link a:hover{
  background-color: #262699;
  border: 1px solid #262699;
  border-radius: 5px;
}

#center-list {
    display:block;
    vertical-align : middle;
}

#center-list-item {
  display: block;
  vertical-align: middle;
  text-decoration: center;
}

/* HEADER - Navigation */

nav {
  display: inline-block;
  float: left;
  margin-right: 2%;
}

#nav-link {
  width: auto;
  display: inline-block;
  float: left;
}

#nav-link a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: inline;
}

#navcontainer{
  display: inline-block;
  float:left;
  margin-left: 10px;
  margin-top: 0px;
  padding: 0px;
  vertical-align: text-top;
}

#navcontainer ul {
  padding: 0px;
  margin: 0px;
}

#navlist li
{
display: inline;
list-style-type: none;
padding: 0px;
margin: 10px;
}

#navlist li a{
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 0px;

  /*border: 1px solid black;*/
}

#navlist li a:hover{
  /*background-color: #262699;*/
}

#header-social {
  display: inline-block;
  float: right;
}

#social-svg {
  width: 1px;
}

#social-svg:hover {
  background-image: url('twitter_button_hover.svg');
  background-repeat: none;
}

/* Home Icon */

.dj-home-class {
  display: inline-block;
  float: left;
  padding: 10px;

  background: url('/assets/dj_dewitt_symbol_white.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
  size: 32px 32px;
}

.dj-home-class:hover {
  background: url('/assets/dj_dewitt_symbol_hover.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}


/* SOCIAL ICONS */

.twitter-class {
  display: inline-block;
  float: left;
  padding: 10px;

  background: url('/assets/twitter_button.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
  size: 32px 32px;

  /*border: 1px solid black;*/
}

.twitter-class:hover {
  background: url('/assets/twitter_button_hover.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.linkedin-class {
  display: inline-block;
  float: left;
  padding: 10px;

  background: url('/assets/linkedin_button.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
  size: 32px 32px;

  /*border: 1px solid black;*/
}

.linkedin-class:hover {
  background: url('/assets/linkedin_button_hover.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.github-class {
  display: inline-block;
  float: left;
  padding: 10px;

  background: url('/assets/github_button.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
  size: 32px 32px;

  /*border: 1px solid black;*/
}

.github-class:hover {
  background: url('/assets/github_button_hover.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.mail-class {
  display: inline-block;
  float: left;
  padding: 10px;

  background: url('/assets/mail_button.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
  size: 32px 32px;

  /*border: 1px solid black;*/
}

.mail-class:hover {
  background: url('/assets/mail_button_hover.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}


/* FOOTER */
#footer {
  height: 50px;

  position: relative;
  bottom: 0;
  /*left: 0;*/
  z-index: 9999;
  /*width: 100%;*/
  /*margin-top: 10px;*/
/*  margin-left: auto;
  margin-right: auto;*/

  background-color: #3333CC;
  color: white;
  border-top: 1px solid black;
  /*height: 100%;*/

  /*padding-bottom: 32000px;
  margin-bottom: -32000px;*/

}

#footer p{
  text-align: center;
}

/* POST INDEX */

.post-index-textbox {
  vertical-align: top;
  border-top: 2px solid #3333CC;
  margin: 0px;
  padding: 0px;
  top: 0px;
}

.tint {
  margin: 0px;
  position: relative;
  float: left;
  cursor: pointer;
}

.tint a:hover{
  background-color: #FFFFFF;
}

/* Semantic UI CSS - Header */

@media (max-width: 767px) {
    .ui.navbar{
  }
}

/**/

.ui.vertical.menu{
  margin-top: 0px !important;
  width: 100%;
  display: none;
}



/* CMS tabbing */
#mainView {
    border: 1px solid black;
  clear: both;
  padding: 0 1em;
}
.active {
    background-color: #FFF;
    color: #000;
}