<div style="text-align: center;">
  <p>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- DJDeWitt - Left Sidebar Responsive -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3000875308596670"
         data-ad-slot="8141629741"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </p>
  <div>
    <a href="http://www.djdewitt.com/posts/why-this-site-has-ads">"Why the heck does your portfolio site have an ad and how can I get rid of it, you monster?"</a>
  </div>
</div>