<div class='footer' style="background-color: #3333CC; color: white; border-top: 1px solid black;">

<span style="width: 100%; display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;">This site copyright DJ DeWitt, 2015</span>

</div>
