<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div style="background-color: #3333CC;">
<div class="container">
  <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="background-color: white; border: none;">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar" style="background-color: #3333CC;"></span>
      <span class="icon-bar" style="background-color: #3333CC;"></span>
      <span class="icon-bar" style="background-color: #3333CC;"></span>
    </button>
    <!-- DJ DeWitt Icon -->
    <a href class="item" style="margin: 0px; padding: 0px; margin-top: 10px;">
      <div class="dj-home-class" onclick="djHomeClass()" style="width:32px; height:32px; margin-top: 10px;"></div>
    </a>
    <a class="navbar-brand" href="/">DJ DeWitt</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav navbar-left">
      <!-- Sections -->
      <li><a href="/posts" class="item"><span>Blog</span></a></li>
      <li><a href="/projects" class="item"><span>Projects</span></a></li>
      <li><a href="/games" class="item"><span>Games</span></a></li>
      <li><a href="/contact" class="item"><span>Contact</span></a></li>
      <!-- Search -->
      <li>
        <form class="navbar-form navbar-left" action="/search" method="get" role="search" style="background-color: white; border-radius: 4px; padding: 0px; padding-left: 4px;">
          <div class="form-group" style="padding: 0px; margin: 0px; size: 100%;">
            <input type="text" name="q" class="form-control search-bar-header" style="margin: 0px; padding: 0px; size: 100%;" placeholder="Search" />
          </div>
          <button type="submit" class="search-bar-header-submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </form>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href style="margin: 10px; padding: 0px;"><div class="twitter-class" onclick="socialTwitter()" style="width:32px; height:32px; padding:0px;"></div></a></li>
      <li><a href style="margin: 10px; padding: 0px;"><div class="linkedin-class" onclick="socialLinkedIn()" style="width:32px; height:32px; padding:0px;"></div></a></li>
      <li><a href style="margin: 10px; padding: 0px;"><div class="github-class" onclick="socialGitHub()" style="width:32px; height:32px; padding:0px;"></div></a></li>
      <li><a href style="margin: 10px; padding: 0px;"><div class="mail-class" onclick="socialMail()" style="width:32px; height:32px; margin: 0px; padding:0px;"></div></a></li>
    </ul>
  </div>
</div>
</div>
</nav>