<p><%= image_tag "DJ_profile.jpg", :width => "100%", :crop => :fill %></p>
<p>I'm a web developer looking for a company that is passionate about creative, self-motivated individuals.<br><br>I want to do great work while making the tech industry a more diverse, empathetic place.
<br>
<br>
If you are passionate about being a positive influence in the tech community, and are seeking a creative, multi-talented, and empathetic voice, <%= link_to "please get in contact", '/contact' %>.
</p>
<p>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- DJDeWitt - Left Sidebar Responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3000875308596670"
     data-ad-slot="8141629741"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</p>
<p>
<a href="http://www.djdewitt.com/posts/why-this-site-has-ads">"Why the heck does your portfolio site have an ad?"</a>
</p>
