<p><%= image_tag "DJ_profile.jpg", :width => "100%", :crop => :fill %></p>
<p>I'm a web developer looking for a company that is passionate about creative, self-motivated individuals that want to do great work while making the tech industry a more diverse, empathetic place.
<br>
<br>
If you are passionate about being a positive influence in the tech community, and are seeking a creative, multi-talented, and empathetic voice, <%= link_to "please get in contact", '/contact' %>.
</p>