<p><%= image_tag "DJ_profile.jpg", :width => "100%", :crop => :fill %></p>
<p>I'm a web developer looking for a company that is passionate about creative, self-motivated individuals.<br><br>I want to do great work while making the tech industry a more diverse, empathetic place.
<br>
<br>
If you are care about being a positive influence in the tech community, and are seeking a creative, multi-talented, and empathetic voice, <%= link_to "please get in contact", '/contact' %>.
</p>
<p>
<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/DJDeWitt" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/DJDeWitt', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail"><strong style="font-size: 1.25em;">PLUPERFECT</strong><br> A technology and culture newsletter. From your future, to my past.</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" placeholder="Enter your email address" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" id="newsletter-subscribe-button" /><p><a href="https://tinyletter.com" target="_blank">Made real by TinyLetter</a></p></form>
</p>
<p>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- DJDeWitt - Left Sidebar Responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3000875308596670"
     data-ad-slot="8141629741"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</p>
<p>
<a href="http://www.djdewitt.com/posts/why-this-site-has-ads">"Why the heck does your portfolio site have an ad?"</a>
</p>
